hr {
    margin-top: 0;
}
.article_title_link {
    text-decoration: none;
    color: #444;
}
.article_title_link:hover {
    text-decoration: none;
}
.article_title {
    color: #444;
}
.comments_header {
    margin-bottom: 10px;
}
.comments_header_title {
    color: #444;
    border-bottom: 1px solid #e3e3e3;
}
.comments_header_count {
    color: #669dd8;
    font-weight: bold;
}
.comment {
    margin-top: 20px;
}
.comment_head {
    color: #a1a1a1;
    font-size: 90%;
}
.comment_content {
    margin-top: 5px;
    line-height: 1.46;
}
.comment_posted_where {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #a1a1a1;
    font-size: 90%;
}
.menu-link {
    text-decoration: none;
    color: gray;
}
.menu-link:hover {
    text-decoration: none;
    color: #548eaa;
}
.menu-link-active {
    border-bottom: 4px solid;
}
.user-name {
    color: #548eaa;
}
.error_page {
    max-width: 420px;
    margin: 200px auto 30px;
    padding: 0 11px;
}
.login-register-form {
    background-color: #e1e5ec;
}
.input-group-text {
    background-color: #beddff;
}
@media (min-width: 800px) {
    .container{
        max-width: 800px;
    }
}