hr {
    margin-top: 0;
}
.article_title_link {
    text-decoration: none;
    color: #444;
}
.article_title_link:hover {
    text-decoration: none;
}
.menu-link {
    text-decoration: none;
    color: gray;
}
.menu-link:hover {
    text-decoration: none;
    color: #548eaa;
}
.menu-link-active {
    border-bottom: 4px solid;
}
.user-name {
    color: #548eaa;
}
.error_page {
    max-width: 420px;
    margin: 200px auto 30px;
    padding: 0 11px;
}
@media (min-width: 800px) {
    .container{
        max-width: 800px;
    }
}